body {
  color: #7500B4;
  font-size: 1.0em;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #A0FBFE;
}

h2 {
  color: #000000;
}

.thumbnail {
  width: 150px;
  height: 100px;
}
